html {
	color: #443850;
	font-family: "Tahoma", "Geneva", "sans-serif";
	background-color: #f7f4e3;
}

.logo {
	height: 75px;
	width: 75px;
}

.navigation {
	display: inline;
}

.navigation li {
	display: inline;
	border: 1px black solid;
	margin: 10px;
	padding: 5px;
	background-color: #e9e3b4;
}

#currentPage {
	background-color: aquamarine;
}

.header {
	margin: 2em;
}

.body {
	text-align: center;
	background-color: #efeac8;
	border: 1px black solid;
	border-radius: 15px;
	margin: 2em;
	padding: 1em;
}

.footer {
   text-align: center;
	 font-size: 10pt;
}

.error {
	color: crimson;
}

.start {
	color: white;
	background-color: green;
}

.stop {
	color: white;
	background-color: red;
}

table, th, td {
	border: 1px solid firebrick;
}

table {
	width: 100%;
}